[MASTER]
ignore=tests, migrations

[MESSAGES CONTROL]
disable=C0114, too-few-public-methods, dangerous-default-value, missing-class-docstring, missing-function-docstring, pointless-string-statement, useless-object-inheritance

[FORMAT]
max-line-length=120
